@model UniversityProject.Core.DTOs.AboutUsDto

<main class="main">
    <div class="page-header text-center" style="background-image: url('/Images/Static/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">درباره ما <span></span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">درباره ما </li>
            </ol>
        </div>
    </nav>

    <div class="page-content pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="about-text text-center mt-3">
                        <h2 class="title text-center mb-2">ما که هستیم</h2>
                        <p class="text-center">
                            نرم‌افزار جامع مدیریت کتابخانه‌ها، توسط اداره‌کل فناوری اطلاعات و با همکاری اداره‌کل امور کتابخانه‌های نهاد کتابخانه‌های عمومی کشور، با هدف پیاده‌سازی یک سیستم جامع، تحت وب، یکپارچه و متمرکز مدیریت کتابخانه‌های عمومی کشور طرح‌ریزی و پیاده‌سازی شده است
                        </p>
                        <img src="/Images/Static/signature.png" alt="signature" class="mx-auto mb-5">

                        <img src="/Images/Static/amazing-libraries-germany-motamem2.jpg" alt="image" class="mx-auto mb-6">
                    </div>
                </div>
            </div>
            <div class="icon-boxes-container bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="fa fa-euro-sign"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">جریمه ها</h3><!-- End .icon-box-title -->
                                    <p>به ازای هر روز تاخیر در بازگرداندن کتاب 5000 تومان جریمه خواهید شد</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="fa fa-book"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">بهترین کتاب ها</h3><!-- End .icon-box-title -->
                                    <p>بهترین و پرفروش ترین کتاب های دنیا</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">پشتیبانی حرفه ای</h3><!-- End .icon-box-title -->
                                    <p>پشتبانی آنلاین به صورت 7روز هفته/24ساعته</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div>
        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->

        <div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9" style="background-image: url(/Images/Static/AboutUsBg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="6" data-speed="3000" data-refresh-interval="50">@Model.UserCount</span>
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">مشتری خشنود</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="12" data-speed="3000" data-refresh-interval="50">@Model.BookCount</span>
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">کتاب</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="7" data-speed="3000" data-refresh-interval="50">@Model.CommentCount</span>
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">بازخورد کاربران</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->

                    <div class="col-6 col-md-3">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <span class="count" data-from="0" data-to="15" data-speed="3000" data-refresh-interval="50">@Model.CategoryCount</span>
                            </div><!-- End .count-wrapper -->
                            <h3 class="count-title text-white">موضوعات متنوع</h3><!-- End .count-title -->
                        </div><!-- End .count-container -->
                    </div><!-- End .col-6 col-md-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div>

        <div class="bg-light-2 pt-6 pb-7 mb-6">
            <div class="container">
                <h2 class="title text-center mb-4">آشنایی با تیم ما</h2>

                <div class="row">
                   @foreach (var item in Model.Teams)
                   {
                       <div class="col-sm-6 col-lg-3">
                           <div class="member member-2 text-center">
                               <figure class="member-media">
                                   <img src="/Images/Teams/@item.Image" alt="@item.Name">

                                   <figcaption class="member-overlay">
                                       <div class="social-icons social-icons-simple">
                                           <a href="https://www.facebook.com/@item.Facebook" class="social-icon" title="فیسبوک" target="_blank"><i class="icon-facebook-f"></i></a>
                                           <a href="https://www.twitter.com/@item.Twitter" class="social-icon" title="توییتر" target="_blank"><i class="icon-twitter"></i></a>
                                           <a href="https://www.instagram.com/@item.Instagram" class="social-icon" title="اینستاگرام" target="_blank"><i class="icon-instagram"></i></a>
                                       </div>
                                   </figcaption>
                               </figure>
                               <div class="member-content">
                                   <h3 class="member-title">@item.Name<span>@item.JobTitle</span></h3>
                               </div>
                           </div>
                       </div>
                   }
                </div>
            </div>
        </div>
    </div>
</main>