@model UniversityProject.Core.DTOs.BookDto

<title>دسته بندی کتاب ها</title>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        دسته بندی کتاب ها
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active"> <a href="/Admin/Book">دسته بندی</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">مثال ساده</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="@ViewBag.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div class="hidden">
                        <input type="hidden" value="@Model.Id" asp-for="Id" />
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="@Model.Title">عنوان</label>
                            <input type="text" class="form-control" asp-for="@Model.Title" id="@Model.Title" placeholder="عنوان">
                        </div>
                        <div class="form-group">
                            <label for="@Model.AuthorName">نام نویسنده</label>
                            <input type="text" class="form-control" asp-for="@Model.AuthorName" id="@Model.AuthorName" placeholder="نام نویسنده">
                        </div>
                        <div class="form-group">
                            <label for="@Model.PublisherName">نام ناشر</label>
                            <input type="text" class="form-control" asp-for="@Model.PublisherName" id="@Model.PublisherName" placeholder="نام ناشر">
                        </div>
                        <div class="form-group">
                            <label for="@Model.Description">توضیحات</label>
                            <textarea type="text" class="form-control" asp-for="@Model.Description" id="@Model.Description" placeholder="توضیحات"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="@Model.UsableDays">تعداد روز در دسترس</label>
                            <input type="number" class="form-control" asp-for="@Model.UsableDays" id="@Model.UsableDays" placeholder="تعداد روز در دسترس">
                        </div>
                        <div class="form-group">
                            <label for="@Model.IsAvailable"> در دسترس است؟</label>
                            <input type="checkbox" asp-for="@Model.IsAvailable" id="@Model.IsAvailable" placeholder=" در دسترس است؟" />
                        </div>
                        <div class="form-group">
                            <ul>
                                @foreach (var item in Model.Categories.Where(x => x.ParentId == null))
                                {
                                    <li>
                                        <input type="checkbox" id="@item.Title" value="@item.Id" />
                                        <label for="@item.Title">@item.Title</label>
                                        <ul>
                                            @foreach (var item2 in Model.Categories.Where(x => x.ParentId == item.Id))
                                            {
                                                <li>
                                                    <input type="checkbox" disabled="disabled" id="@item2.Title" value="@item2.Id" />
                                                    <label for="@item2.Title">@item2.Title</label>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>انتخاب تاریخ شمسی با خروجی تایم استمپ </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="example1 form-control" />
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                        <a href="/Admin/Book" class="pull-left btn btn-warning">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="/Admin/css/persian-datepicker.css"/>
}

@section Scripts
{
    <script src="/Admin/js/persian-date.min.js"></script>
    <script src="/Admin/js/persian-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".example1").pDatepicker({
                format: 'D MMMM YYYY',
            });
        });
    </script>

    <script>
        var showModal =@ViewBag.ShowModal;
        $(function() {
            if (showModal==true) {
                $('#myModal').modal('show');
            }
        });
    </script>
}
