@model UniversityProject.Core.DTOs.SliderDto

<title>افزودن اسلاید جدید</title>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>افزودن اسلاید جدید</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active"> <a href="/Admin/Slider">لیست اسلاید ها</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <!-- form start -->
                <form role="form" action="@ViewBag.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div class="hidden">
                        <input type="hidden" value="@Model.Id" asp-for="Id" />
                        <input type="hidden" value="@Model.ImageName" asp-for="ImageName" />
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="@Model.Position">شماره ردیف</label>
                            <input type="number" class="form-control" asp-for="@Model.Position" id="@Model.Position" />
                        </div>
                        <div class="form-group">
                            <label for="@Model.Title">توضیحات</label>
                            <input type="text" class="form-control" asp-for="@Model.Title" id="@Model.Title" placeholder="توضیحات">
                        </div>
                        <div>
                            <label>لینک اسلاید</label>
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" asp-for="LinkUrl">
                                <option value=" ">بدون لینک</option>
                                @foreach (var item in Model.BookTitles)
                                {
                                    @if (item.LinkType == "Book")
                                    {
                                        <option value="Book/@item.Id">@item.Title</option>
                                    }
                                    else
                                    {
                                        <option value="Search?categoryId=@item.Id">@item.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>تصویر</label>
                            <input accept="image/*" type="file" onchange="previewFile(this)" asp-for="Image" />
                        </div>
                        <div class="form-group">
                            <img id="previewImg" src="@(Model.ImageName != null ? "/Images/Sliders/" + Model.ImageName : " ")" alt="Placeholder" class="img-responsive">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                        <a href="/Admin/Slider" class="pull-left btn btn-warning">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link href="/Admin/css/select2.min.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="/Admin/js/select2.full.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();

            if ('@string.IsNullOrWhiteSpace(Model.ImageName)'=='True') {
                $("#previewImg").addClass("hidden");
            }
        });

        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#previewImg").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
            $("#previewImg").removeClass("hidden");
        }

        var showModal ='@ViewBag.ShowModal';
        $(function() {
            if (showModal==true) {
                $('#myModal').modal('show');
            }
        });
    </script>
}
