@model UniversityProject.Core.DTOs.TeamDto

<title>افزودن عضو تیم جدید</title>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>افزودن عضو تیم جدید</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active"> <a href="/Admin/Team">لیست عضو تیم ها</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <!-- form start -->
                <form role="form" action="@ViewBag.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div class="hidden">
                        <input type="hidden" value="@Model.Id" asp-for="Id" />
                        <input type="hidden" value="@Model.OldImage" asp-for="OldImage" />
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="@Model.Name">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" asp-for="@Model.Name" id="@Model.Name" placeholder="نام و نام خانوادگی"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="@Model.JobTitle">عنوان شغلی</label>
                                <input type="text" class="form-control" asp-for="@Model.JobTitle" id="@Model.JobTitle" placeholder="عنوان شغلی">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="@Model.Instagram">آدرس اینستاگرام</label>
                                <input type="text" class="form-control" asp-for="@Model.Instagram" id="@Model.Instagram" placeholder="عنوان شغلی">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="@Model.Twitter">آدرس تویتر</label>
                                <input type="text" class="form-control" asp-for="@Model.Twitter" id="@Model.Twitter" placeholder="عنوان تویتر">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="@Model.Facebook">آدرس فیسبوک</label>
                                <input type="text" class="form-control" asp-for="@Model.Facebook" id="@Model.Facebook" placeholder="عنوان فیسبوک">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>تصویر</label>
                            <input accept="image/*" type="file" onchange="previewFile(this)" asp-for="Image"/>
                        </div>
                        <div class="form-group">
                            <img id="previewImg" src="@(Model.OldImage != null ? "/Images/Teams/" + Model.OldImage : " ")" alt="Placeholder" class="img-responsive"
                                 style="max-height: 400px">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                        <a href="/Admin/Team" class="pull-left btn btn-warning">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link href="/Admin/css/select2.min.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="/Admin/js/select2.full.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();

            if ('@string.IsNullOrWhiteSpace(Model.OldImage)'=='True') {
                $("#previewImg").addClass("hidden");
            }
        });

        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#previewImg").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
            $("#previewImg").removeClass("hidden");
        }

        var showModal ='@ViewBag.ShowModal';
        $(function() {
            if (showModal==true) {
                $('#myModal').modal('show');
            }
        });
    </script>
}
