@model List<UniversityProject.Data.Entities.Team>

<title>اعضای تیم</title>
@{
    var counter = 1;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        اعضای تیم
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a href="/Admin/Team" class="active">اعضای تیم</a></li>
    </ol>
</section>

<section class="content-header">
    <a class="btn btn-success" href="/Admin/Team/Create">افزودن عضو تیم جدید</a>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام و نام خانوادگی</th>
                                <th>عنوان شغلی</th>
                                <th>تصویر</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td><b>@item.Name</b></td>
                                    <td>@item.JobTitle</td>
                                    <td>@item.Instagram</td>
                                    <td>@item.Facebook</td>
                                    <td>@item.Twitter</td>
                                    <td><img src="/Images/Teams/@item.Image" class="img-responsive img-lg" alt="Book Image" /></td>
                                    <td>
                                        <a class="btn btn-success" href="/Admin/Team/Update/@item.Id">ویرایش</a>
                                        <a class="btn btn-danger" onclick="DeleteGroup(@item.Id,'@item.Name')">حذف</a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>نام و نام خانوادگی</th>
                                <th>عنوان شغلی</th>
                                <th>تصویر</th>
                                <th>عملیات</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- ./wrapper -->
<!-- DataTables -->
@section Scripts
{
    <script src="/Admin/js/jquery.dataTables.min.js"></script>
    <script src="/Admin/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

        function DeleteGroup(id, title) {
            var modal = $('#myModal');
            modal.find('.modal-body p').text("آیا از حذف " + title + " اطمینان دارید");
            modal.find('.modal-footer a').attr("href", "/Admin/Team/Delete/" + id);
            $('#myModal').modal('show');
        }
    </script>
}