@model UniversityProject.Core.DTOs.LibraryDto

@{
    var counter = 1;
}

<form method="get" action="/Library" id="bookSearch">
    <input type="hidden" asp-for="PageId" id="pageId" value="@Model.PageId" />
    <main class="main">
        <div class="page-header text-center" style="background-image: url('/Images/Static/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title"><span>کتابخانه</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active"><a href="/Library">کتابخانه</a></li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">مرتب سازی براساس : </label>
                                    <select name="SortBy" id="sortby" class="form-control">
                                        <option value="publishDate" selected="selected">تاریخ انتشار</option>
                                        <option value="addedDate">تاریخ حضور</option>
                                        <option value="popularity">محبوب ترین</option>
                                    </select>
                                </div><!-- End .toolbox-sort -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                @if (Model.Books.Any())
                                {
                                    foreach (var item in Model.Books)
                                    {
                                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                            <div class="product product-7 text-center">
                                                <figure class="product-media">
                                                    @if (item.IsAvailable == false)
                                                    {
                                                        <span class="product-label label-new">ناموجود</span>
                                                    }

                                                    <a href="/Product/@item.Id">
                                                        <img src="/Images/Books/@item.ImageName" alt="تصویر محصول" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a class="btn-product-icon btn-wishlist btn-expandable" onclick="AddToFavoriteBook(@item.Id)">
                                                            <span>افزودن به لیست علاقه مندی</span>
                                                        </a>
                                                    </div><!-- End .product-action-vertical -->

                                                    <div class="product-action">
                                                        <a class="btn-product btn-cart" onclick="AddToShoppingCart(@item.Id)">
                                                            <span>افزودن به سبد خرید</span>
                                                        </a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat text-center">
                                                        <a href="/Search?authorName=@item.AuthorName">نام نویسنده : @item.AuthorName</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title text-center">
                                                        <a href="/Book/@item.Id">@item.Title</a>
                                                    </h3><!-- End .product-title -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                    }
                                }
                                else
                                {
                                    <h2 class="alert alert-warning">هیچ کتابی با این اطلاعات یافت نشد</h2>
                                }
                            </div><!-- End .row -->
                        </div><!-- End .products -->


                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                @for (int i = 1; i <= Math.Ceiling((double)Model.CountAll / 12); i++)
                                {
                                    <li class="page-item @(Model.PageId==i?"active":" ")"><a class="page-link" onclick="changePage(@i)">@i</a></li>
                                }
                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>فیلترها : </label>
                            </div><!-- End .widget widget-clean -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-6" role="button" aria-expanded="true" aria-controls="widget-6">
                                        دسته بندی
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-6">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            <label>عنوان</label>
                                            <input type="text" asp-for="Title" class="form-control" title="عنوان" />
                                        </div>
                                        <div class="filter-items filter-items-count">
                                            <label>نام نویسنده</label>
                                            <input type="text" asp-for="Authors" class="form-control" title="نام نویسنده" />
                                        </div>
                                        <div class="filter-items filter-items-count">
                                            <label>نام ناشر</label>
                                            <input type="text" asp-for="Publishers" class="form-control" title="نام ناشر" />
                                        </div>
                                        <!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->

                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                        دسته بندی
                                    </a>
                                </h3><!-- End .widget-title -->
                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            @if (Model.Categories != null)
                                            {
                                                foreach (var item in Model.Categories)
                                                {
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="cat-@counter" name="CategoryIdSearch"
                                                                   @(Model.CategoryIdSearch != null ? Model.CategoryIdSearch.Contains(item.Id) ? "checked='checked'" : "" : "")
                                                                   value="@item.Id">
                                                            <label class="custom-control-label" for="cat-@counter">@item.Title</label>
                                                        </div><!-- End .custom-checkbox -->
                                                        <span class="item-count badge badge-primary">@item.BookCategories.Count()</span>
                                                    </div><!-- End .filter-item -->
                                                    counter++;
                                                }
                                            }
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                        بر اساس تاریخ حضور در کتابخانه
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-4">
                                    <label>تاریخ شروع</label>
                                    <input class="date1 pwt-datepicker-input-element form-control" asp-for="StartDate" autocomplete="off">
                                    <label>تاریخ پایان</label>
                                    <input class="date2 pwt-datepicker-input-element form-control" asp-for="EndDate" autocomplete="off">
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                        بر اساس تاریخ چاپ
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-5">
                                    <label>تاریخ شروع</label>
                                    <input class="date3 pwt-datepicker-input-element form-control" asp-for="StartPublishDate" autocomplete="off">
                                    <label>تاریخ پایان</label>
                                    <input class="date4 pwt-datepicker-input-element form-control" asp-for="EndPublishDate" autocomplete="off">
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-7" role="button" aria-expanded="true" aria-controls="widget-7">
                                        موجود برای امانتدر دسترس بودن
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-7">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            <input type="checkbox" asp-for="IsAvailable" style="transform:scale(1.3)" class="pull-right"/>
                                            <label class="mr-2">موجود در کتابخانه</label>
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->

                            </div><!-- End .widget -->

                            <input type="submit" class="btn btn-primary btn-block" title="اعمال فیلتر" value="اعمال فیلتر" />

                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
</form>

@section Styles
{
    <link rel="stylesheet" href="/MainSite/assets/css/plugins/babakhani-date-picker.css" />
}

@section Scripts
{
    <script src="/MainSite/assets/js/babakhani-date.js"></script>
    <script src="/MainSite/assets/js/babakhani-date-picker.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.date1').persianDatepicker({
                observer: true,
                format: 'YYYY/MM/DD',
                autoClose: true,
                initialValue: false
            });
            $('.date2').persianDatepicker({
                observer: true,
                format: 'YYYY/MM/DD',
                autoClose: true,
                initialValue: false
            });
            $('.date3').persianDatepicker({
                observer: true,
                format: 'YYYY/MM/DD',
                autoClose: true,
                initialValue: false
            });
            $('.date4').persianDatepicker({
                observer: true,
                format: 'YYYY/MM/DD',
                autoClose: true,
                initialValue: false
            });
        });

        function changePage(pageId) {
            $("#pageId").val(pageId);
            $("#bookSearch").submit();
        }

        function AddToFavoriteBook(bookId) {
            $.ajax({
                type: "GET",
                url: "AddToFavoriteBook/" + bookId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    document.getElementById("wishlist-count").innerText = response;
                }
            });
        }

        function AddToShoppingCart(bookId) {
            $.ajax({
                type: "GET",
                url: "AddToShoppingCart/" + bookId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != -1) {
                        document.getElementById("cart-count").innerText = response;
                    }
                }
            });
        }
    </script>
}