@using UniversityProject.Core.Utils
@model UniversityProject.Core.DTOs.BookDetailsDto

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item"><a href="/Library">کتابخانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            </ol>

        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div>
                                <figure>
                                    <img id="product-zoom" src="/Images/Books/@Model.ImageName" alt="@Model.Title">
                                </figure><!-- End .product-main-image -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">@Model.Title</h1>
                            <!-- End .product-title -->
                            <div class="product-cat text-right">
                                <span>نام نویسنده : </span>
                                <a href="/Search?authorName=@Model.AuthorName">@Model.AuthorName</a>
                            </div>
                            <div class="product-cat text-right mt-1">
                                <span>نام ناشر : </span>
                                <a href="/Search?publisherName=@Model.AuthorName">@Model.PublisherName</a>
                            </div>
                            <div class="product-cat text-right mt-1">
                                <span>تاریخ انتشار </span>
                                <a>@Model.PublishDate</a>
                            </div>
                            <div class="product-cat text-right mt-1 mb-3">
                                <span>تاریخ ورود : </span>
                                <a>@Model.AddedDate</a>
                            </div>
                            <div class="product-cat text-right mt-1 mb-3">
                                <span>تعداد روز در دسترس : </span>
                                <a>@Model.UsableDays</a>
                            </div>

                            <div class="product-content">
                                <p>
                                    @Model.ShortDescription
                                </p>
                            </div><!-- End .product-content -->

                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart" style="cursor: pointer" onclick="AddToShoppingCart(@Model.BookId)"><span>افزودن به امانات</span></a>

                                <div class="details-action-wrapper">
                                    <a href="#" class="btn-product btn-wishlist" style="cursor: pointer" title="علاقه مندی ها" onclick="AddToFavoriteBook(@Model.BookId)">
                                        <span>افزودن به علاقه مندی</span>
                                    </a>
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat text-center">
                                    <span>دسته بندی : </span>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <a href="/Search?categoryId=@item.Id">@item.Title - </a>
                                    }
                                </div><!-- End .product-cat -->
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab" id="reviews">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab"
                           aria-controls="product-desc-tab" aria-selected="false">
                            توضیحات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab"
                           aria-controls="product-review-tab" aria-selected="true">
                            نظرات (@Model.CountAll)
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>توضیحات</h3>
                            <p>@Html.Raw(Model.Description)</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade  active show" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <form id="showComment" method="get" action="/Book/@Model.BookId#reviews">
                            <input type="hidden" asp-for="PageId" value="@Model.PageId" id="pageId" />
                            <div class="reviews">
                                <div><a href="#" class="btn btn-outline-primary-2 mb-3" onclick="addComment(@Model.BookId)">نوشتن نظر جدید</a></div>
                                @if (Model.Comments.Any())
                                {
                                    @foreach (var item in Model.Comments.Where(x => x.ParentId == null))
                                    {
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4>@item.User.Name</h4>
                                                    <span class="review-date">@item.RecordDate.ToShamsi()</span>
                                                </div><!-- End .col -->
                                                <div class="col-12">
                                                    <div class="review-content">
                                                        <p>@item.Text</p>
                                                        <a href="#" class="btn-success" onclick="addComment(@Model.BookId,@item.Id,true)">جواب به کامنت <i class="icon-arrow-left"></i></a>
                                                    </div><!-- End .review-content -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                            @foreach (var answer in Model.Answers.Where(x => x.ParentId == item.Id))
                                            {
                                                <div class="mt-1">
                                                    <div class="row no-gutters alert alert-secondary">
                                                        <div class="col-auto">
                                                            <h4><i class="icon-arrow-left"></i><b>جواب ادمین</b></h4>
                                                            <span class="review-date">@answer.RecordDate</span>
                                                        </div><!-- End .col -->
                                                        <div class="col-12">
                                                            <div class="review-content">
                                                                <p>@answer.Text</p>
                                                                <a href="#" class="btn-success" onclick="addComment(@Model.BookId,@answer.Id,false,'@answer.Text')">ویرایش <i class="icon-arrow-left"></i></a>
                                                            </div><!-- End .review-content -->
                                                        </div><!-- End .col-auto -->
                                                    </div><!-- End .row -->
                                                </div>
                                            }
                                        </div><!-- End .review -->
                                    }
                                }
                                else
                                {
                                    <h3 class="alert alert-primary">نظری وارد نشده است</h3>
                                }

                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        @for (int i = 1; i <= Math.Ceiling((double)Model.CountAll / 12); i++)
                                        {
                                            <li class="page-item @(Model.PageId == i ? "active" : " ")"><a class="page-link" onclick="changePage(@i)">@i</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div><!-- End .نظر -->
                            <!-- Plugins JS File -->
                        </form>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>


@section Scripts
{
    <script>
        $(document).ready(function () {
            if ("@ViewBag.ShowComment" == "true") {
                $("#reviews").show();
            }
        });

        function changePage(pageId) {
            $("#pageId").val(pageId);
            $("#showComment").submit();
        }
        function addComment(bookId, commentId, isAnswer, text) {
            if ('@User.Identity.IsAuthenticated' =='True')
            {
                $("#bookId").val(bookId);
                $("#commentId").val(commentId);
                $("#isAnswer").val(isAnswer);
                $("#comment-text").val(text);
                $("#comment-modal").modal('show');
            } else {
                $("#error-text").html("برای ثبت ابتدا لاگین نمایید");
                $("#error-modal").modal('show');
            }

        }
        function closeComment() {
            $("#comment-modal").modal('hide');
        }
    </script>
}
