@model List<UniversityProject.Data.Entities.User>

<title>کاربران</title>
@{
    var counter = 1;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        کاربران
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a href="/Admin/User" class="active">کاربران</a></li>
    </ol>
</section>

<section class="content-header">
    <a class="btn btn-success" href="/Admin/User/Create">افزودن کاربر جدید</a>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام و نام خاندگی</th>
                                <th>شماره تماس</th>
                                <th>نقش کاربر</th>
                                <th>جریمه</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td><b>@item.Name</b></td>
                                    <td>@item.Phone</td>
                                    <td>
                                        @if (item.Role.Title == "Admin")
                                        {
                                            <span class="badge bg-yellow">ادمین</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-green">کاربر</span>
                                        }
                                    </td>
                                    <td>@item.Penalty?.ToString("#,0")</td>
                                    <td>
                                        <a class="btn btn-success" href="/Admin/User/Update/@item.Id">ویرایش</a>
                                        <a class="btn btn-danger" onclick="DeleteGroup(@item.Id,'@item.Name')">حذف</a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>نام و نام خاندگی</th>
                                <th>شماره تماس</th>
                                <th>نقش کاربر</th>
                                <th>جریمه</th>
                                <th>عملیات</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- ./wrapper -->
<!-- DataTables -->
@section Scripts
{
    <script src="/Admin/js/jquery.dataTables.min.js"></script>
    <script src="/Admin/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

        function DeleteGroup(id, title) {
            var modal = $('#myModal');
            modal.find('.modal-body p').text("آیا از حذف " + title + " اطمینان دارید");
            modal.find('.modal-footer a').attr("href", "/Admin/User/Delete/" + id);
            $('#myModal').modal('show');
        }
    </script>
}
