@model List<UniversityProject.Data.Entities.Banner>

<title>بنر ها</title>
@{
    var counter = 1;
}
<section class="content-header">
    <h1>لیست بنر ها</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a href="/Admin/Banner" class="active">جدول</a></li>
    </ol>
</section>

<section class="content-header">
    <a class="btn btn-success" href="/Admin/Banner/Create">افزودن بنر جدید</a>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="banners" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>لینک</th>
                                <th>تصویر</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td><b>@item.Title</b></td>
                                    <td>@item.LinkUrl</td>
                                    <td><img src="/Images/Banners/@item.Image" class="img-responsive img-lg" alt="Book Image" /></td>
                                    <td>
                                        <a class="btn btn-success" href="/Admin/Banner/Update/@item.Id">ویرایش</a>
                                        <a class="btn btn-danger" onclick="DeleteGroup(@item.Id,'@item.Title')">حذف</a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>لینک</th>
                                <th>تصویر</th>
                                <th>عملیات</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script src="/Admin/js/jquery.dataTables.min.js"></script>
    <script src="/Admin/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#banners').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
        });

        function DeleteGroup(id, title) {
            var modal = $('#myModal');
            modal.find('.modal-body p').text("آیا از حذف " + title + " اطمینان دارید");
            modal.find('.modal-footer a').attr("href", "/Admin/Banner/Delete/" + id);
            $('#myModal').modal('show');
        }
    </script>
}