@model List<UniversityProject.Data.Entities.Comment>

<title>نظرات</title>
@{
    var counter = 1;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        نظرات
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a href="/Admin/Comment" class="active"> نظرات</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام کاربر</th>
                                <th>نام کتاب</th>
                                <th>متن</th>
                                <th>متن جواب</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => x.ParentId == null))
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.User.Name</td>
                                    <td>@item.Book.Title</td>
                                    <td>@item.Text</td>
                                    <td>
                                        @foreach (var answer in Model.Where(x => x.ParentId == item.Id))
                                        {
                                            @answer.Text
                                            <a class="btn btn-warning btn-xs" href="/Admin/Comment/Update/@answer.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-xs" href="/Admin/Comment/Delete/@answer.Id"><i class="fa fa-trash"></i></a>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="/Admin/Comment/Create?parentId=@item.Id">جواب</a>
                                        <a class="btn btn-danger" onclick="DeleteGroup(@item.Id,'@item.User.Name')">حذف</a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>نام کاربر</th>
                                <th>نام کتاب</th>
                                <th>متن</th>
                                <th>متن جواب</th>
                                <th>عملیات</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- ./wrapper -->
<!-- DataTables -->
@section Scripts
{
    <script src="/Admin/js/jquery.dataTables.min.js"></script>
    <script src="/Admin/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            if ('@ViewBag.ShowModal'=='true') {
                var modal = $('#myModal');
                modal.find('.modal-body p').html("@ViewBag.ModalMessage");
                modal.find('.modal-footer a').attr("href", "/Admin/Comment");
                $('#myModal').modal('show');
            }

            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

        function DeleteGroup(id, title) {
            var modal = $('#myModal');
            modal.find('.modal-body p').text("آیا از حذف نظر " + title + " اطمینان دارید");
            modal.find('.modal-footer a').attr("href", "/Admin/Comment/Delete/" + id);
            $('#myModal').modal('show');
        }
    </script>
}
