@using UniversityProject.Data.Entities
@{ var model = (List<Category>)ViewData["Category"]; }

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/MainSite/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/MainSite/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/MainSite/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/MainSite/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/MainSite/assets/images/icons/apple-touch-icon.png" color="#666666">
    <link rel="shortcut icon" href="/MainSite/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/MainSite/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/MainSite/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/MainSite/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/MainSite/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/MainSite/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/MainSite/assets/css/style.css">
    <link rel="stylesheet" href="/MainSite/assets/css/skins/skin-demo-20.css">
    <link rel="stylesheet" href="/MainSite/assets/css/demos/demo-20.css">
    <!-- Custom CSS File Added -->
    <link rel="stylesheet" href="/MainSite/assets/css/custom-css-added/custom.css" />

    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-12">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel_3A#"><i class="icon-phone"></i>تلفن تماس : 02155667788</a>
                    </div><!-- End .header-left -->
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">لینک ها</a>

                                @if (User.Identity.IsAuthenticated)
                                {
                    <ul class="dropdown-links">
                        <li><a href="/Dashboard" data-toggle="modal"> @User.Identity.Name خوش آمدید</a></li>
                        <li><a href="/Dashboard" data-toggle="modal">پروفایل </a></li>
                    </ul> }
                else
                {
    <ul class="dropdown-links">
        <li><a href="/Login">ورود / ثبت نام</a></li>
    </ul>}

                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">فهرست</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="/Images/Static/page-header-bg.jpg" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">جستجو</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="جستجوی کتاب ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        @if (User.Identity.IsAuthenticated)
                        {
            <div class="header-dropdown-link">
                <div class="wishlist">
                    <a href="wishlist.html" title="لیست علاقه مندی">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge" id="wishlist-count">@ViewBag.WishlistCount</span>
                        </div>
                        <p>موردعلاقه</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" id="cart-count">@ViewBag.CartCount</span>
                        </div>
                        <p>سبد خرید</p>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div>}

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div style="background-color: #333; display: flex; width: 100%;">

                        <div class="header-center">

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">خانه</a>
                                    </li>
                                    <li class="megamenu-container">
                                        <a href="/" class="sf-with-ul">کتابخانه</a>
                                    </li>
                                    @foreach (var item in model.Where(x => x.ParentId == null))
                                    {
                        <li>
                            <a href="/" class="sf-with-ul">@item.Title</a>
                            @if (model.Any(x => x.ParentId == item.Id))
                            {
            <ul>
                @foreach (var sub in model.Where(x => x.ParentId == item.Id))
                {
<li><a href="#">@sub.Title</a></li>
}
            </ul>}
                        </li>
}
                                    <li class="megamenu-container">
                                        <a href="about.html" class="sf-with-ul">درباره ما</a>
                                    </li>
                                    <li class="megamenu-container">
                                        <a href="contact.html" class="sf-with-ul">تماس با ما</a>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        @RenderBody()

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-5">
                            <div class="widget widget-about">
                                <img src="/MainSite/assets/images/demos/demo-20/logo-footer.png" class="footer-logo"
                                     alt="Footer Logo" width="105" height="25">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم.
                                </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                            <a href="tel:123456789">02155667788</a>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="#">خدمات</a></li>
                                            <li><a href="#">نحوه خرید</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="contact.html">تماس با ما</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">خدمات مشتری</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">شیوه پرداخت</a></li>
                                            <li><a href="#">گارانتی بازگشت وجه</a></li>
                                            <li><a href="#">شیوه ارسال محصولات</a></li>
                                            <li><a href="#">قوانین و مقررات</a></li>
                                            <li><a href="#">خط مشی</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">ورود</a></li>
                                            <li><a href="cart.html">سبد خرید</a></li>
                                            <li><a href="#">لیست علاقه مندی ها</a></li>
                                            <li><a href="#">پیگیری سفارشات</a></li>
                                            <li><a href="#">راهنما</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 col-xl-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">کپی رایت © 2019 تمامی حقوق محفوظ است.</p>
                    <!-- End .footer-copyright -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">شبکه های اجتماعی</span>
                        <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                            <i class="icon-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                            <i class="icon-youtube"></i>
                        </a>
                        <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank">
                            <i class="icon-pinterest"></i>
                        </a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="بازگشت به بالا"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">جستجو</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                       placeholder="جستجو در ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                       role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                     aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="index-1.html">خانه</a>

                            </li>
                            <li>
                                <a href="category.html">فروشگاه</a>
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul">محصولات</a>
                                <ul>
                                    <li><a href="product.html">پیش فرض</a></li>
                                    <li><a href="product-centered.html">توضیحات وسط چین</a></li>
                                    <li>
                                        <a href="product-extended.html">
                                            <span>
                                                توضیحات گسترده<span class="tip tip-new">جدید</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li><a href="product-gallery.html">گالری</a></li>
                                    <li><a href="product-sticky.html">اطلاعات چسبیده</a></li>
                                    <li class=""><a href="product-sidebar.html">صفحه جمع با سایدبار</a></li>
                                    <li><a href="product-fullwidth.html">تمام صفحه</a></li>
                                    <li><a href="product-masonry.html">اطلاعات چسبیده</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">صفحات</a>
                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with-ul">درباره ما</a>

                                        <ul style="display: none;">
                                            <li><a href="about.html">درباره ما 01</a></li>
                                            <li><a href="about-2.html">درباره ما 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="sf-with-ul">تماس با ما</a>

                                        <ul style="display: none;">
                                            <li><a href="contact.html">تماس با ما 01</a></li>
                                            <li><a href="contact-2.html">تماس با ما 02</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="404.html">خطای 404</a></li>
                                    <li><a href="coming-soon.html">به زودی</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">اخبار</a>

                                <ul>
                                    <li class=""><a href="blog.html">کلاسیک</a></li>
                                    <li><a href="blog-listing.html">لیست</a></li>
                                    <li>
                                        <a href="#" class="sf-with-ul">شبکه بندی</a>
                                        <ul style="display: none;">
                                            <li><a href="blog-grid-2cols.html">2 ستونه</a></li>
                                            <li><a href="blog-grid-3cols.html">3 ستونه</a></li>
                                            <li><a href="blog-grid-4cols.html">4 ستونه</a></li>
                                            <li><a href="blog-grid-sidebar.html">با سایدبار</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">سایز های مختلف</a>
                                        <ul style="display: none;">
                                            <li><a href="blog-masonry-2cols.html">2 ستونه</a></li>
                                            <li><a href="blog-masonry-3cols.html">3 ستونه</a></li>
                                            <li><a href="blog-masonry-4cols.html">4 ستونه</a></li>
                                            <li><a href="blog-masonry-sidebar.html">با سایدبار</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">ماسک</a>
                                        <ul style="display: none;">
                                            <li><a href="blog-mask-grid.html">نوع 1</a></li>
                                            <li><a href="blog-mask-masonry.html">نوع 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">پست تکی</a>
                                        <ul style="display: none;">
                                            <li><a href="single.html">پیش فرض با سایدبار</a></li>
                                            <li><a href="single-fullwidth.html">تمام صفحه بدون سایدبار</a></li>
                                            <li>
                                                <a href="single-fullwidth-sidebar.html">تمام صفحه باسایدبار</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements-list.html">عناصر طراحی</a>
                                <ul>
                                    <li class=""><a href="elements-products.html">محصولات</a></li>
                                    <li><a href="elements-typography.html">تایپوگرافی</a></li>
                                    <li><a href="elements-titles.html">عناوین</a></li>
                                    <li><a href="elements-banners.html">بنرها</a></li>

                                    <li><a href="elements-product-category.html">دسته بندی محصولات</a></li>
                                    <li><a href="elements-video-banners.html">بنرهای ویدیویی</a></li>
                                    <li><a href="elements-buttons.html">دکمه ها</a></li>
                                    <li><a href="elements-accordions.html">آکاردئون</a></li>
                                    <li><a href="elements-tabs.html">تب ها</a></li>
                                    <li><a href="elements-testimonials.html">توصیف و نقل قول</a></li>
                                    <li><a href="elements-blog-posts.html">اخبار</a></li>
                                    <li><a href="elements-portfolio.html">نمونه کار</a></li>
                                    <li><a href="elements-cta.html">پاسخ به عمل</a></li>
                                    <li><a href="elements-icon-boxes.html">باکس های آیکون</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a class="mobile-cats-lead" href="#">پیشنهاد روزانه</a></li>
                            <li><a class="mobile-cats-lead" href="#">هدیه</a></li>
                            <li><a href="#">تخت خواب</a></li>
                            <li><a href="#">روشنایی</a></li>
                            <li><a href="#">مبلمان</a></li>
                            <li><a href="#">فضای ذخیره سازی</a></li>
                            <li><a href="#">میز وصندلی</a></li>
                            <li><a href="#">دکور </a></li>
                            <li><a href="#">کابینت</a></li>
                            <li><a href="#">قهوه</a></li>
                            <li><a href="#">مبلمان خارج از منزل </a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Comment Modal -->
    <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="comment-tab" data-toggle="tab" href="#signin"
                                       role="tab" aria-controls="comment" aria-selected="true">نظر شما</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-6">
                                <div class="tab-pane fade show active" id="comment" role="tabpanel"
                                     aria-labelledby="signin-tab">
                                    <form method="post" action="/AddComment">
                                        <div class="form-group">
                                            <input type="hidden" id="bookId" name="bookId" />
                                            <input type="hidden" id="commentId" name="commentId" />
                                            <input type="hidden" id="isAnswer" name="isAnswer" />
                                            <input type="hidden" id="parentId" name="parentId" />
                                            <input type="hidden" id="pageId" name="pageId" value="@ViewBag.PageId" />
                                            <label for="singin-email">متن نظر *</label>
                                            <textarea class="form-control" id="comment-text" name="commentText" required></textarea>
                                        </div><!-- End .form-group -->
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2" onclick="closeComment()">
                                                <span>ثبت نظر</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Plugins JS File -->
    <script src="/MainSite/assets/js/jquery.min.js"></script>
    <script src="/MainSite/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/MainSite/assets/js/main.js"></script>
    <script src="/MainSite/assets/js/jquery.waypoints.min.js"></script>
    <script src="/MainSite/assets/js/demos/demo-20.js"></script>

    <!-- Main JS File -->

    @await RenderSectionAsync("Scripts", false)
</body>

</html>