@using UniversityProject.Data.Entities
@{ var model = (List<Category>)ViewData["Category"]; }

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Library">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/Static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/Static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Static/favicon-16x16.png">
    <link rel="manifest" href="/Images/Static/site.webmanifest">
    <link rel="mask-icon" href="/Images/Static/apple-touch-icon.png" color="#666666">
    <link rel="shortcut icon" href="/Images/Static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Library">
    <meta name="application-name" content="Library">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/MainSite/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/MainSite/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/MainSite/assets/vendor/font-awesome/css/all.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/MainSite/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/MainSite/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/MainSite/assets/css/style.css">
    <link rel="stylesheet" href="/MainSite/assets/css/skins/skin-demo-20.css">
    <link rel="stylesheet" href="/MainSite/assets/css/demos/demo-20.css">
    <!-- Custom CSS File Added -->
    <link rel="stylesheet" href="/MainSite/assets/css/custom-css-added/custom.css" />
    <title>@ViewBag.Title</title>
    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-12">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel_3A#"><i class="icon-phone"></i>تلفن تماس : 02155667788</a>
                    </div><!-- End .header-left -->
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                    <a href="/Dashboard">پروفایل</a> }
                else
                {
    <a href="/Login">لاگین</a>}


                                @if (User.Identity.IsAuthenticated)
                                {
                    <ul class="dropdown-links">
                        <li><a href="/Dashboard"> @User.Identity.Name خوش آمدید</a></li>
                        <li><a href="/Dashboard">پروفایل </a></li>
                    </ul> }
                else
                {
    <ul class="dropdown-links">
        <li><a href="/Login">ورود / ثبت نام</a></li>
    </ul>}

                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">فهرست</span>
                            <i class="icon-bars"></i>
                        </button>
                        <a href="/" class="logo">
                            <img src="/Images/Static/print-174013990.jpg" alt="Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->
                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/Search" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">جستجو</label>
                                    <input type="search" class="form-control" name="title" id="q" placeholder="جستجوی کتاب ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        @if (User.Identity.IsAuthenticated)
                        {
            <div class="header-dropdown-link">
                <div class="wishlist">
                    <a href="/Dashboard" title="لیست علاقه مندی">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge" id="wishlist-count">@ViewBag.WishlistCount</span>
                        </div>
                        <p>موردعلاقه</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="/Dashboard" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" id="cart-count">@ViewBag.CartCount</span>
                        </div>
                        <p>امانات</p>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div>}

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div style="background-color: #333; display: flex; width: 100%;">

                        <div class="header-center">

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">خانه</a>
                                    </li>
                                    <li class="megamenu-container">
                                        <a href="/Library" class="sf-with-ul">کتابخانه</a>
                                    </li>
                                    @foreach (var item in model.Where(x => x.ParentId == null))
                                    {
                        <li>
                            <a href="/Search?categoryId=@item.Id" class="sf-with-ul">@item.Title</a>
                            @if (model.Any(x => x.ParentId == item.Id))
                            {
            <ul>
                @foreach (var sub in model.Where(x => x.ParentId == item.Id))
                {
<li><a href="/Search?categoryId=@item.Id">@sub.Title</a></li>
}
            </ul>}
                        </li>
}
                                    <li class="megamenu-container">
                                        <a href="/AboutUs" class="sf-with-ul">درباره ما</a>
                                    </li>
                                    <li class="megamenu-container">
                                        <a href="/ContactUs" class="sf-with-ul">تماس با ما</a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                        <li>
                            <a href="/Dashboard" class="sf-with-ul">داشبرد</a>
                            <ul>
                                <li><a href="/Dashboard">لیست علاقه مندی ها (@ViewBag.WishlistCount)</a></li>
                                <li><a href="/Dashboard">امانات (@ViewBag.CartCount)</a></li>
                                <li><a href="/Dashboard">تاریخچه کتاب ها</a></li>
                                <li><a href="/Dashboard">تغییر پروفایل</a></li>
                            </ul>
                        </li> }
                                    else
                                    {
                        <li class="megamenu-container">
                            <a href="/Login" class="sf-with-ul">ورود/ ثبت نام</a>
                        </li>}
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        @RenderBody()

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-5">
                            <div class="widget widget-about">
                                <img src="/Images/Static/print-174013990.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>سامانه اهدا و امانت هوشمند کتاب</p>
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                            <a href="tel:123456789">02155667788</a>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="/">خانه</a></li>
                                            <li><a href="/Library">کتابخانه</a></li>
                                            <li><a href="/AboutUs">درباره ما</a></li>
                                            <li><a href="/ContactUs">تماس با ما</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                            <h4 class="widget-title">عضویت</h4><!-- End .widget-title -->
                                            <ul class="widget-list">
                                                <li><a href="/Login">ورود</a></li>
                                                <li><a href="/Register">ثبت نام</a></li>
                                                <li><a href="/ForgotPassword">فراموشی رمز عبور</a></li>
                                            </ul> }
                                        else
                                        {
                            <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->
                                            <ul class="widget-list">
                                                <li><a href="/Dashboard">پروفایل</a></li>
                                                <li><a href="/Dashboard">تغییر اطلاعات</a></li>
                                                <li><a href="/Dashboard">امانات</a></li>
                                                <li><a href="/Dashboard">علاقه مندی ها</a></li>
                                                <li><a href="/Dashboard">سابقه امانات</a></li>
                                            </ul>}

                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 col-xl-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">کپی رایت © 1401 تمامی حقوق محفوظ است.</p>
                    <!-- End .footer-copyright -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">شبکه های اجتماعی</span>
                        <a href="https://facebook.com" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                            <i class="icon-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com" class="social-icon social-twitter" title="توییتر" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="https://instagram.com" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="https://youtube.com" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                            <i class="icon-youtube"></i>
                        </a>
                        <a href="https://www.pinterest.co.uk/" class="social-icon social-pinterest" title="پینترست" target="_blank">
                            <i class="icon-pinterest"></i>
                        </a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="بازگشت به بالا"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">جستجو</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                       placeholder="جستجو در ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                       role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                     aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="/">خانه</a>
                            </li>
                            <li>
                                <a href="/Library">کتابخانه</a>
                            </li>
                            <li>
                                @foreach (var item in model.Where(x => x.ParentId == null))
                                {
                    <a href="/Search?category=@item.Id" class="sf-with-ul">@item.Title</a>
                                    @if (model.Any(x => x.ParentId == item.Id))
                                    {
                    <ul>
                        @foreach (var sub in model.Where(x => x.ParentId == item.Id))
                        {
    <li><a href="/Search?category=@item.Id">@sub.Title</a></li>
}
                    </ul>}}
                            </li>
                            <li><a href="/AboutUs">درباره ی ما</a></li>
                            <li><a href="ContactUs">تماس با ما</a></li>
                            <li>
                                <a href="/Dashboard" class="sf-with-ul">داشبرد</a>
                                <ul>
                                    <li><a href="/Dashboard">امانات (@ViewBag.CartCount)</a></li>
                                    <li><a href="/Dashboard">علاقه مندی ها (@ViewBag.WishlistCount)</a></li>
                                    <li><a href="/Dashboard">تاریخچه امانات</a></li>
                                    <li><a href="/Dashboard">تغییرات پروفایل</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="https://www.facebook.com/" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="https://www.twitter.com/" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="https://www.youtube.com/" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Comment Modal -->
    <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="comment-tab" data-toggle="tab" href="#signin"
                                       role="tab" aria-controls="comment" aria-selected="true">نظر شما</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-6">
                                <div class="tab-pane fade show active" id="comment" role="tabpanel"
                                     aria-labelledby="signin-tab">
                                    <form method="post" action="/AddComment">
                                        <div class="form-group">
                                            <input type="hidden" id="bookId" name="bookId" />
                                            <input type="hidden" id="commentId" name="commentId" />
                                            <input type="hidden" id="isAnswer" name="isAnswer" />
                                            <input type="hidden" id="parentId" name="parentId" />
                                            <input type="hidden" id="pageId" name="pageId" value="@ViewBag.PageId" />
                                            <label for="singin-email">متن نظر *</label>
                                            <textarea class="form-control" id="comment-text" name="commentText" required></textarea>
                                        </div><!-- End .form-group -->
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2" onclick="closeComment()">
                                                <span>ثبت نظر</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Error Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body rtl">
                    <div class="form-box">
                        <h3 class="text-center"><i class="icon-info-circle"></i> خطا <i class="icon-info-circle"></i></h3>
                        <hr style="border-top: 3px solid red;" />
                        <div id="error-text"></div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Error Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body rtl">
                    <div class="form-box">
                        <h3>با تشکر از پیام شما</h3>
                        <hr style="border-top: 3px solid green;" />
                        <div id="message-text">با تشکر از پیام شما .به زودی به شماره تماس یا ایمیل وارد شده شما جواب خواهیم داد ، برای پیگیری جواب از راه های ارتباطی ما هم می توانید استفاده کنید</div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Error Modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rtl">
                <div class="form-box">
                    <h3>عملیات موفق</h3>
                    <hr style="border-top: 3px solid blue;" />
                    <div id="info-text"></div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
<!-- Plugins JS File -->
    <script src="/MainSite/assets/js/jquery.min.js"></script>
    <script src="/MainSite/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/MainSite/assets/js/main.js"></script>
    <script src="/MainSite/assets/js/jquery.waypoints.min.js"></script>
    <script src="/MainSite/assets/js/demos/demo-20.js"></script>

    <!-- Main JS File -->

    @await RenderSectionAsync("Scripts", false)
</body>

</html>